.mon_tableau {
  border-collapse: collapse;
  border: 2px solid rgb(170, 170, 170);
}
.mon_tableau td,
.mon_tableau th {
  border: 2px solid rgb(165, 0, 115);
  padding: 4px;
}
.mon_tableau th {
  font-size: 1.2rem;
  /* pour rendre le fond plus foncé*/
  background-color: rgb(207, 110, 110);
}
